<html>
  <head>
    <title>Login</title>
    <link href="registry.css" media="all" rel="stylesheet" type="text/css" />
    {{if .Stylesheet}}
      <link href="{{.Stylesheet}}" media="all" rel="stylesheet" type="text/css" />
    {{end}}
  </head>
  <body>
    <div class="centerbox">
      <form action="/login" method="POST">
        <h1>
          SignIn on {{.Name}}
        </h1>
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="Submit">
      </form> 
    </div>
  </body>
</html>
